<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Database</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <%= movie.Title %><br />
    <%= movie.Year %><br />
    <%= movie.Plot %><br />
    <br /><br />
    <a href="/">Search Again</a>
  </div>
</body>
</html>